<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Burger Eater</title>
		
		{{!-- <script src="../../public/assets/js/burgers.js"></script> --}}
      
	</head>
	<body>
   
  
    <div class="hero-image">
    <div class="hero-text">
		{{{ body }}}
    </div>
    </div>
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/assets/js/burgers.js"></script>
	</body>
</html>