body{
    text-align: center;
    font-family: 'Jost', sans-serif;
}

.hero-image {
    background-image: url(../img/hamburger-and-fries.jpg);
    background-color: #cccccc;
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.9;
  }
  
  .title {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 70px;
    font-weight: bold;
    margin: 0px;
  }

  /* form{
    display: inline-block;
  } */

  input[type=text], select {  
    text-align: center;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  h2{
    color: black;
  }

  .heading1{
      padding-top: 200px;
      text-align: center;
  }

  button {
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
button:hover {
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color:#e4685d;
}
button:active {
	position:relative;
	top:1px;
}

.newBurger{
    background-color: white;
    width: 40%;
    height: 500px;
    margin: 50px 10px 0px 50px;
    float: left;
    opacity: .90;
}

.eatenBurgers{
    background-color: white;
    width: 40%;
    height: 500px;
    margin: 50px 50px 0px 10px;
    float: right;
    opacity: .90;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
  }

li{
    padding: 5px;
}

